header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;
  z-index: 1000;

  .site-logo {
    text-decoration: none;
    color: black;
    align-self: center;
  }
}
