header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 1000;

  .site-logo {
    width: 30vw;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      max-height: 3rem;
    }
  }
}
